<!doctype html>
<html lang="en" class="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Markdown</title>
  <link rel="stylesheet" href="/dist/css/bundle.min.css">
  <link rel="stylesheet" href="/dist/css/tailwind.min.css">
</head>

<body class="font-nunito-sans h-screen flex flex-col gap-4 bg-gray-200 dark:bg-gray-900">

  <header class="sticky top-0 p-4 bg-gray-200 dark:bg-gray-800">
    <p class="text-center">header</p>
  </header>

  <div class="flex-1 flex gap-10">
    <aside class="sticky top-[4.5rem] max-h-screen bg-gray-100 dark:bg-gray-800 menu max-w-xs w-full p-4 rounded-md">
      <h2 class="text-md text-center font-bold">Pages</h2>

      <hr class="border-gray-600 border-1 rounded-full my-2">

      <nav class="flex flex-col gap-2">
        {{range $route := .Routes}}
        <a class="block transition-colors duration-200 px-2 rounded hover:bg-gray-300/50 dark:hover:bg-gray-700/50" href="{{$route.Route}}">{{$route.NameWithoutExtension}}</a>
        {{end}}
      </nav>
    </aside>

    <main class="w-full bg-gray-100 dark:bg-gray-800 p-4 rounded-md">
      {{ .Html }}
    </main>

    <aside class="sticky top-[4.5rem] max-h-screen bg-gray-100 dark:bg-gray-800 menu max-w-xs w-full p-4 rounded-md">
      <h2 class="text-md text-center font-bold">Menu</h2>

      <hr class="border-gray-600 border-1 rounded-full my-2">

      <ul class="pl-4 list-disc">
        <li class="px-2 rounded hover:bg-gray-300/50">
          <a href="#">item</a>
        </li>
      </ul>
    </aside>
  </div>

  <footer class="py-4">
    <p class=" font-bold text-sm text-gray-500 text-center">© Created by ilfey 2023</p>
  </footer>

</body>

</html>