<!doctype html>
<html lang="en" class="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{.Name}}</title>
  <link rel="stylesheet" href="/dist/css/bundle.min.css">
  <link rel="stylesheet" href="/dist/css/tailwind.min.css">
</head>

<body class="font-nunito-sans h-screen flex flex-col items-center gap-4 bg-gray-200 dark:bg-gray-900">

  <header class="max-w-5xl w-full p-4 rounded-lg">
    <p class="text-center">
      <a class="font-bold text-primary-600 hover:text-primary-500 underline" href="/">root</a>

      {{range $link := .Links}}
      <span class="text-gray-500/50">/</span>
      <a class="font-bold text-primary-600 hover:text-primary-500 underline" href="/{{$link.Href}}">{{$link.Text}}</a>
      {{end}}
    </p>
  </header>

  <div class="grid grid-cols-[minmax(0,1fr)_minmax(0,64rem)_minmax(0,1fr)] justify-center w-full">

    <nav class="w-full max-w-xs mx-auto">
      <div class="mx-auto sticky top-0 bg-gray-100 dark:bg-gray-800/50 menu  p-4 rounded-lg">
        <h2 class="text-md text-center font-bold">Sections</h2>

        <hr class="border-gray-600 border-1 rounded-full my-2">

        <div class="flex flex-col gap-2">
          {{range $route := .Nav}}
          <a class="block transition-colors duration-200 px-2 rounded hover:bg-gray-300/50 dark:hover:bg-gray-700/50"
            href="{{$route.Href}}">{{$route.Text}}</a>
          {{end}}
        </div>
      </div>
    </nav>

    <main class="w-full max-w-5xl shrink-0 bg-gray-100 dark:bg-gray-800/50 p-4 rounded-lg">
      {{ .Html }}
    </main>

  </div>

  <footer class="py-4">
    <p class="font-bold text-sm text-gray-500 text-center">© Created by ilfey 2023</p>
  </footer>

</body>

</html>