@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@font-face {
  font-family: 'Nunito-Sans';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url(../font/NunitoSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito-Sans';
  font-style: italic;
  font-weight: normal;
  font-display: fallback;
  src: url(../font/NunitoSans-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito-Sans';
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
  src: url(../font/NunitoSans-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito-Sans';
  font-style: italic;
  font-weight: bold;
  font-display: fallback;
  src: url(../font/NunitoSans-BoldItalic.woff2) format('woff2');
}

.dark {
  color-scheme: dark;
}

/* CodeBlock theme */

.line {
  display: flex;
}

.ln {
  flex-shrink: 0;
  white-space: pre;
  user-select: none;
  margin-right: 0.4rem;
  padding: 0 0.4rem 0 0.4rem;
  color: #7f7f7f
}

.kd, .k {
  color: #b91c1c; /* red-700 */
}

.p {
  color: #0284c7; /* sky-600 */
}

.o {
  color: #15803d; /* green-700 */
}